<div class="conteudo-texto">
    <h2 class="uppercase">Contato</h3>
        <h3 class="justificado texto">
            Em caso de duvidas e sugestões entre em contato conosco.
        </h3>
        <div id="contatos">
            <h4>Sobre o aplicativo e adaptações no questionário.</h4>
            <address>
                <p>Karlla D. Souza</p>
                <a href="mailto:karlladanielly94@hotmail.com">karlladanielly94@hotmail.com</a>
            </address>
        </div>
        <div>
            <h4>Sobre o questionário original, autorização ou tratamento.</h4>
            <address>
                <p>Instituto Delete de Tecnologias</p>
                <a href="mailto:contato@institutodelete.com">contato@institutodelete.com</a>
            </address>
        </div>
        <div class='tab-back-button btn btn-primary btn-block uppercase' id='sobre-back-button' data-role='button'>Voltar</div>
</div>