<div class="conteudo-texto">
    <h2 class="uppercase">Sobre</h3>
    <p class="justificado texto">
        A atual geração está completamente ativa nas redes sociais, 
        e isto vêm aumentando riscos de problemas na saúde mental dos adolescentes e jovens. 
        Entre estes problemas estão crises de ansiedade, dependência e depressão. 
    </p>
    <p class="justificado texto">
        O objetivo deste aplicativo é detectar os níveis de dependência de tecnologia, focando no público infanto juvenil.         
    </p>
    <p class="justificado texto">
        O questionário base para este aplicativo foi adaptado, 
        por Karlla D. Souza, de um teste disponível no site do Instituto Delete.
    </p>
</div>