* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.bold {
    font-weight: bold;
}

#container {
    width: 100%;
    margin: auto;
}

#tab-content {
    width: 98%;
    margin: auto;
}

#menu {
    width: 100%;
    background-color: #3dc1d3;
}

#fraseEfeito {
    font-family: 'Lobster Two', cursive;
    color: #ffb142;
    text-align: center;
    font-size: 120%;
    background-color: #fbfbfb;
    padding-top: 0.2%;
    border-bottom: solid 1px #fbfbfb;
}

#menu h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0%;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#sobre-tab-button {
    width: 90%;
    padding: 10px 0;
    margin-left: 1%;
    margin-top: 30%;
    font-size: 7vw;
}

#teste-tab-button {
    width: 90%;
    padding: 10px 0;
    margin-left: 1%;
    font-size: 7vw;
}

#contato-tab-button {
    width: 90%;
    padding: 10px 0;
    margin-left: 1%;
    font-size: 7vw;
}

#contatos {
    padding-top: 1vw;
}

#enunciado {
    font-size: 22px;
}

.justificado {
    text-align: justify;
    text-justify: inter-word;
}

#quizView {
    widows: 90%;
    margin: 1% 1% 1% 1%;
}

#delete-info {
    position: fixed;
    bottom: 1%;
    right: 0;
    width: 92%;
    margin: auto;
}

#delete-info img {
    width: 88%;
    margin: auto;
}

#delete-info p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2vh;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 0%;
}

.conteudo-texto {
    widows: 90%;
    margin: 1% 1% 1% 1%;
}

.ui-radio input[type="radio"] {
    display: none;
}

.ui-radio .ui-btn.ui-radio-on::after {
    visibility: hidden;
}

.ui-radio .ui-btn.ui-radio-off::after {
    visibility: hidden;
}

.ui-radio .ui-radio-on {
    background-color: #ffb142;
}

h2 {
    font-size: 22px;
}

.texto {
    font-size: 16px;
}